/* .mynav{
  color: black;
}
.mynav a{
  color: black;
  font-weight: 500;
} */
.ban li{
  margin-top: 20px;
  font-size: 23px;
  word-spacing: 2px;
  font-weight: lighter;
  font-style: italic;
}
.ban ul{
  margin-top: 30px;
}